version: "3.9"

services:
  featurehub:
    image: featurehub/party-server:latest
    restart: always
    volumes:
      - featurehub-h2-data:/db
    ports:
      - 8085:8085
  app:
    build:
      context: .
      dockerfile: Demo/Dockerfile
    depends_on:
      - featurehub
  
volumes:
  featurehub-h2-data: